<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="row">
    <ion-button (click)="showPlatform()">Show platform</ion-button>
  </div>
  <div class="row">
    Key: <input type="text" #getKey />
    <ion-button (click)="get(getKey.value)">Get</ion-button>
  </div>
  <div class="row">
    Key: <input type="text" #setKey /> Value: <input type="text" #setValue />
    <ion-button (click)="set(setKey.value, setValue.value)">Set</ion-button>
  </div>
  <div class="row">
    Key: <input type="text" #removeKey />
    <ion-button (click)="remove(removeKey.value)">Remove</ion-button>
  </div>
  <div class="row">
    <ion-button (click)="keys()">All keys</ion-button>
  </div>
  <div class="row">
    <ion-button (click)="clear()">Clear</ion-button>
  </div>
</ion-content>
