name: 'Semantic PR Title'

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize
      - reopened

permissions:
  pull-requests: read

jobs:
  main:
    name: Validate PR title
    uses: evva-sfw/workflows/.github/workflows/call_semantic.yml@main
